:root{
    --spotify-black: #191414;
    --spotify-grey: #3a3a3a;
    --spotify-green: #1DB954;
    --spotify-white: rgb(248, 248, 248);
}
@font-face {
    font-family: Spotify-thick;
    src: url('./Gotham-Font/Gotham-Black.otf');
}

@font-face {
    font-family: Spotify-thin;
    src: url('./Gotham-Font/Gotham-Thin.otf');
}

*{
    margin: 0;
    padding: 0;
    font-family: Spotify-thick;
    color: var(--spotify-white);
    background-color: var(--spotify-black);
}

div {
}
#navbar{
}
#navbar p{
    margin:10px;
}
#content-wrapper{
    height: 94vh;
}
#left-wrapper{
    height: 50vh;
    border-right: solid var(--spotify-green) 1px;
    border-bottom: solid var(--spotify-green) 1px;
    border-radius: 10px;
    padding-top: 100px;
}
.left-wrapper-inside{
    margin-left: 70px;
    border-bottom: solid var(--spotify-grey) 1px;
    padding: 10px;
}
#right-wrapper{
    overflow-y: scroll;
    height: 94vh;
    border-left: solid var(--spotify-green) 1px;
    border-bottom: solid var(--spotify-green) 1px;
    border-radius: 10px;


    padding: 100px 0px 0px 80px;
}
.playlist-card{
    width: 100%;
    height: 200px;
    background-color: red;
    margin-bottom: 40px;
}
.playlist-card img{
    height: 200px;

}

#new-event-div{
    height: 120px;
}
#new-event-div input{
    background-color: none;
    border:none;
    height: 50px;
    width: 100%;
}

.large-title{
    font-size: 19px;
    padding: 15px;
}

.custom-card{
    height: 200px;
    width: 100%;
    border-bottom: solid var(--spotify-green) 1px;
    border-left: solid var(--spotify-green) 1px;
    border-radius: 10px;
    margin-bottom: 20px;
}
.card-title-left{
    height: 50px;
    width: 50px;
}
.custom-card .card-title{
    display: flex;
    font-size: 16px;
    margin: 10px;
}
.custom-card .card-title > p{
    padding: 10px 10px 0px 10px;
}

.custom-card .card-content{
    font-size: 12px;
    margin: 10px;
    height: 120px;
    overflow-y: scroll;
}
.custom-card .card-content p{
    padding: 10px 10px 0px 10px;
    font-family: Spotify-thin;

}








::-webkit-scrollbar {
    width: 4px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }